html, body {
  margin: 0;
  padding: 0;
  font-family: "proxima nova", "proxima-nova", sans-serif;
  background: url("../img/abstract-header-2.jpg");
  background-size: cover;
  background-position: center;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  opacity: 0;
  z-index: 1003;
}

nav {
  padding: 15px 0;
}

header .logo {
  width: 157px;
}

header ul {
  color: white;
}

header ul li {
  padding-top: 15px;
  padding-right: 30px;
  font-size: 13px;
  letter-spacing: 0.8px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
}

header .header-title-container {
  margin-top: 110px;
}

header h1 {
  font-size: 45px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  font-weight: 200;
}

header h2 {
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  font-weight: 200;
  margin: 20px 0 10px;
  color: #aadeed;
}

h3 {
  color: #0272b7;
  font-size: 34px;
  margin: 15px 0 90px;
  text-align: center;
}
h4 {
  color: #ccc;
}


/* Helpers */
.flex-center {
  display: -ms-flexbox;
  display:-webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;

  -ms-flex-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}


/* fullpage.css overrides */
#fp-nav {
  z-index: 2001 !important;
}
#fp-nav ul li .fp-tooltip {
  top: -2px !important;
  font-size: 12px !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
#fp-nav ul li a.active span {
  height: 10px !important;
  width: 10px !important;
  margin: -5px 0 0 -5px !important;
}




section.fixed-panel {
  z-index: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
section.fixed-console {
  z-index: 1;
  position: fixed;
  top: 60%;
  bottom: 0;
  left: 0;
  right: 0;
}
.console {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.console .base {
  height: 100%;
  width: 70%;
  max-width: 650px;
  background: #223e4e;
  border-radius: 3px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 20px;
  font-family: consolas, monospace;
  transform: translateY(20px);
  margin: auto;
}
.console .base .header {
  width: 100%;
  height: 44px;
  background: rgba(56, 133, 222, 1.0);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.console .base .body {
  padding: 24px 24px;
}

.slides {
  opacity: 0;
  position: relative;
  z-index: 2;
}


#intro .copy {
  height: 60%;
}
#intro .copy h1 {
  margin-top: 20%;
  font-size: 5em;
  color: rgba(255, 255, 255, 1.0);
  opacity: 0;
}
#intro .copy h3 {
  font-size: 1.7em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}



section.illustration {
  height: 75%;
  padding-top: 70px;
}
section.copy {
  position: absolute;
  width: 100%;
  bottom: 3%;
  transition: opacity 100ms ease-in;
}
section.copy.disappear {
  opacity: 0;
}

section.copy h2 {
  font-size: 2.4em;
  color: rgba(255, 255, 255, 1.0);
}
section.copy p {
  font-size: 1.3em;
  line-height: 1.6;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

section.illustration .aws {
  background: rgba(255, 255, 255, 0.1);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
  width: 70%;
  max-width: 800px;
  height: 100%;
  border-radius: 6px;
  margin-top: 0px;
  padding: 10px 20px 0;
  font-weight: bold;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}
section.illustration .aws span.title {
  display: block;
  margin: 0 0 5px;
  color: rgba(255, 255, 255, 0.2);
  transition: color 600ms ease-in-out;
}

section.illustration .aws .aptible-cloud {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
  padding: 10px 20px 40px;
  font-size: 1em;
  border-radius: 3px;
  color: rgb(80, 164, 239);
  transition: color 800ms ease-in-out,
    box-shadow 300ms ease-in-out;
}
section.illustration .aws .aptible-cloud.gray {
  color: rgb(204, 204, 204);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
section.illustration .aws .aptible-cloud span.title {
  color: rgba(255, 255, 255, 0.4);
  transition: color 600ms ease-in-out;
}


.loading-circle-1 {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px dashed rgba(255,255,255,0.3);
  opacity: 0;
}
.loading-circle-2 {
  position: absolute;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px dashed rgba(255,255,255,0.7);

  opacity: 0;

  color: #fff;
}
.loading-text {
  position: absolute;
  top: 43%;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  color: #fff !important;
  opacity: 0;
}



.customer-vpc-dots {
  position: absolute;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px dashed rgba(255,255,255,0.4);
  opacity: 0;

  transition: border-radius 800ms ease-in-out,
    width 1000ms ease-in-out, height 900ms ease-in-out,
    border 1000ms ease-in-out, margin 900ms ease-in-out,
    top 1000ms ease-in-out
}
.customer-vpc-dots.loaded {
  width: 95%;
  height: 90%;
  border: 2px dotted rgba(255,255,255,0.1);
  border-radius: 2px;
  top: 20px;
  bottom: 0px;
}

.customer-vpc {
  position: absolute;
  text-align: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid rgba(255,255,255,0.9);
  transition: border-radius 800ms ease-in-out,
    width 1000ms ease-in-out, height 900ms ease-in-out,
    border 800ms ease-in-out, background 900ms ease-in-out
}
.customer-vpc.loaded {
  width: 98%;
  height: 97%;
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,0);
  background: rgba(170, 222, 237, 0.2);
}



.customer-vpc .public {
  height: 60%;
  width: 100%;
}
section.illustration .customer-vpc .public span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 4px;
  padding: 7px 0;
  background: rgba(61, 134, 203, 1);
  color: rgba(255,255,255,1);
  width: 140px;
  margin-left: -70px;
  opacity: 0;
  z-index: 1;
}
.customer-vpc .public .left,
.customer-vpc .public .right {
  display: inline-block;
  height: 100%;
  padding: 3%;
  float: left;

  opacity: 0;
}
.customer-vpc .public .http,
.customer-vpc .public .ssh {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  top: 20px;

  transition: color 900ms ease-in-out, opacity 900ms ease-in-out;
}
.customer-vpc .public .http {
  left: 24px;
}
.customer-vpc .public .ssh {
  right: 24px;
}
.customer-vpc .public .http.faded,
.customer-vpc .public .ssh.faded {
  opacity: 0.1;
}

.customer-vpc .public .left {
  width: 70%;
  border-right: 2px solid rgba(170, 222, 237, 0.2);
}
.customer-vpc .public .left .load-balancer,
.customer-vpc .public .left .app {
  width: 100%;
  height: 43%;
  margin-top: 3%;

  transition: color 900ms ease-in-out, background 600ms ease-in-out;

  opacity: 0;
}
.customer-vpc .public .left .load-balancer {
  margin-top: 21px;
}
.customer-vpc .public .right {
  width: 30%;
}
.customer-vpc .public .right .bastion {
  width: 100%;
  height: 93%;
  margin-top: 21px;

  transition: color 900ms ease-in-out, background 600ms ease-in-out;

  opacity: 0;
}

.customer-vpc .public .left .app.faded,
.customer-vpc .public .left .load-balancer.faded,
.customer-vpc .public .right .bastion.faded {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0);
}

/*Image fade*/
.customer-vpc .public .left .app img,
.customer-vpc .public .left .load-balancer img,
.customer-vpc .public .right .bastion img,
.customer-vpc .private .database img {
  opacity: 1;
  transition: opacity 900ms ease-in-out
}
.customer-vpc .public .left .app.faded img,
.customer-vpc .public .left .load-balancer.faded img,
.customer-vpc .public .right .bastion.faded img,
.customer-vpc .private .database.faded img {
  opacity: 0;
}


.customer-vpc .private {
  position: relative;
  height: 40%;
  width: 0%;
  background: repeating-linear-gradient(-45deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05) 6px, rgba(255,255,255,0.15) 6px, rgba(255,255,255,0.15) 12px);
  padding: 3%;
  opacity: 0;

  transition: width 1000ms cubic-bezier(.69,.63,.32,1);
}
.customer-vpc .private.loaded {
  width: 100%;
}

section.illustration .customer-vpc .private span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 4px;
  padding: 7px 0;
  background: rgba(247, 152, 58, 1.0);
  color: rgba(255,255,255,1);
  width: 160px;
  margin-left: -80px;
  z-index: 1;
  opacity: 0;
}
section.illustration .customer-vpc .private span img {
  margin-right: 4px;
}
.customer-vpc .private .database {
  width: 100%;
  height: 89%;
  margin-top: 23px;
  transition: color 900ms ease-in-out, background 600ms ease-in-out;
  opacity: 0;
}
.customer-vpc .private .database.faded {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0);
}
.docker {
  text-align: center;
  background: rgba(255, 255, 255, 1);
  color: rgba(80, 164, 239, 1);
  font-weight: normal;
  font-size: 1.5em;
}
.docker img.margin-right {
  margin-right: 12px;
}
.docker img.margin-bottom {
  margin-bottom: 6px;
}

.network-container {
  position: fixed;
  top: 0;
  transition: color 400ms ease-in-out
}
.network-container.disappear {
  opacity: 0;
}
.network-line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  background: rgba(170, 222, 237, 0.15);
}
.network-line .active {
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(170, 222, 237, 0.5);
  transform: scaleY(0);
  transform-origin: 0% 0%;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}
.network-line .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: -2px;
  top: 0%;
  border: 1px solid rgba(170, 222, 237, 1);

  transition: opacity 200ms ease-in-out;

  opacity: 0;
}


/*----------------------------------
  Medium devices: iPad
------------------------------------*/

@media (max-width: 991px) {
  .navbar .col-md-10{
    display: none;
  }


  /* fullpage.js overrides */
  #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    display: none !important;
  }
  #fp-nav.left {
    left: 0 !important;
  }
  #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    display: none !important;
  }



  section.fixed-panel {
    z-index: 1001;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }
  section.fixed-console {
    z-index: 1002;
    position: fixed;
    top: 55%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slides {
    z-index: 1003;
    position: relative;
  }

  section.illustration .aws {
    width: 85%;
    height: 85%;
    margin: 20px auto;
    padding: 10px 10px 0;
  }
  section.illustration .aws .aptible-cloud {
    padding: 10px 0 0;
  }

  .customer-vpc-dots.loaded {
    width: 98%;
    top: 10px;
  }
  .customer-vpc.loaded {
    width: 99%;
    height: 99%;
  }

  .customer-vpc .public .left .app img,
  .customer-vpc .public .left .load-balancer img,
  .customer-vpc .public .right .bastion img,
  .customer-vpc .private .database img {
    width: 20px;
    height: 20px;
  }

  .docker img.margin-right {
    margin-right: 3px;
  }
  .docker img.margin-bottom {
    margin-bottom: 3px;
  }


}

/*----------------------------------
  Small devices: iPhone 6+ and below
------------------------------------*/

@media (max-width: 767px) {
  html, body {
    font-size: 10px !important;
  }

  .navbar .col-md-10{
    display: none;
  }
  header .logo {
    width: 100px;
  }

  /* fullpage.js overrides */
  #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    display: none !important;
  }
  #fp-nav.left {
    left: 0 !important;
  }
  #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    display: none !important;
  }


  section.fixed-panel {
    z-index: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }
  section.fixed-console {
    z-index: 1;
    position: fixed;
    top: 55%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slides {
    z-index: 2;
    position: relative;
  }
  .console .base {
    width: 85%;
    font-size: 1.2em;
  }
  .console .base .header {
    height: 30px;
  }
  .console .base .body {
    padding: 12px;
  }
  section.illustration {
    font-size: 1em;
    height: 77%;
    padding-top: 30px;
  }
  section.illustration .aws {
    width: 85%;
    height: 85%;
    margin: 20px auto;
    padding: 6px 6px 0;
  }
  section.illustration .aws span.title {
    font-size: 8px;
    margin: 0 0 2px;
  }
  section.illustration .aws .aptible-cloud {
    font-size: 0.8em;
    padding: 6px 0 0;
  }
  section.illustration .customer-vpc .public span,
  section.illustration .customer-vpc .private span {
    top: 2px;
    width: 100px;
    padding: 4px 0;
    font-size: 0.9em;
    margin-left: -50px;
  }
  section.illustration .customer-vpc .private span {
    width: 120px;
    margin-left: -60px;
  }
  section.illustration .customer-vpc .private span img {
    width: 12px;
    height: 12px;
  }

  .customer-vpc .public .http,
  .customer-vpc .public .ssh {
    font-size: 0.7em;
    top: 10px;
  }
  .customer-vpc .public .http {
    left: 7px;
  }
  .customer-vpc .public .ssh {
    right: 7px;
  }

  .loading-circle-1 {
    width: 140px;
    height: 140px;
  }
  .loading-circle-2 {
    width: 170px;
    height: 170px;
  }
  .customer-vpc-dots {
    width: 220px;
    height: 220px;
  }
  .customer-vpc {
    width: 190px;
    height: 190px;
  }

  .customer-vpc-dots.loaded {
    width: 96%;
    top: 6px;
  }
  .customer-vpc.loaded {
    width: 99%;
    height: 99%;
  }
  .customer-vpc .public .left {
    width: 65%;
  }
  .customer-vpc .public .left .load-balancer {
    margin-top: 13%;
  }
  .customer-vpc .public .right {
    width: 35%;
  }
  .customer-vpc .public .right .bastion {
    height: 88%;
    margin-top: 27%;
  }
  .customer-vpc .private .database {
    height: 80%;
    margin-top: 9%;
  }

  section.copy {
    bottom: 0;
  }
  section.copy h2 {
    font-size: 1.8em;
    margin: 6px 0 6px;
  }
  section.copy p {
    font-style: 0.7em;
    margin-bottom: 6px;
  }


  #intro .copy h1 {
    font-size: 4em;
    margin-top: 40%;
  }

  .docker {
    font-size: 1.1em;
  }

}

/* Bump the text up on iPhone 6 & 6+ */
@media (max-width: 767px) and (max-height: 665px) {
  section.illustration {
    padding-top: 40px;
  }
  section.copy {
    bottom: 24px;
  }
  section.copy h2 {
    font-size: 2.2em;
    margin: 6px 0 6px;
  }


}

